/* UTILITY */

.container {
    max-width: 97%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml {
    margin-left: 10px;
}

.mr {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mb50 {
    margin-bottom: 50px;
}

h1,
h2,
h3,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h6 {
    font-size: 1.1rem;
}

/* HEADER */

#header {
    margin-top: 20px;
    background-image: url('img/img7.jpg');
    background-color: #ebebeb;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 94vh;
}

#navbar {
    padding-top: 15px;
    justify-content: initial;
}

#logo {
    margin: 0 90px;
}

#logo img {
    width: 65px;
}

#navbar nav ul li {
    margin-right: 70px;
}

#navbar nav a {
    text-decoration: none;
    color: white;
}

#navbar nav a:hover {
    color: #e7e7e7;
}

.img-header {
    height: 95%;
    float: right;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-right: 12%;
    text-align: right;
}

.img-header h1 {
    line-height: 3.6rem;
}

.img-header p {
    font-size: 1.1rem;
    margin-left: 15px;
    margin-top: 15px;
    font-style: italic;
}

/* SHOWCASE SECTION */

.showcase-container {
    width: 100%;
    justify-content: space-between;
}

.showcase-container-box {
    width: 50%;
    margin-top: -30px;
    height: 600px;
    background-color: #f3f3f3;
    flex-direction: column;
    text-align: center;
}

.showcase-header {
    margin-bottom: 20px;
    text-align: center;
    line-height: 2rem;
    color: #222;
    margin-top: 30px;
}

.showcase-header p {
    font-style: italic;
}

.showcase-paragraph,
.showcase-link {
    color: #444;
}

.showcase-paragraph {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 40px;
    line-height: 1.4rem;
    font-size: 0.9rem;
}

.showcase-link {
    border: 2px solid #222;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 0.8rem;
}

.showcase-link:hover {
    color: white;
    background-color: #888;
    border-color: #888;
}

#showcase-img-1 {
    background-image: url('img/showcase-img1.jpeg');
}

#showcase-img-2 {
    background-image: url('img/showcase-img2.jpeg');
}

#showcase-img-3 {
    background-image: url('img/showcase-img3.jpeg');
}

.showcase-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* STATS SECTION */

#stats-section {
    justify-content: space-evenly;
    width: 80%;
    margin: 70px auto 110px;
    color: #333;
}

#stats-section p {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 4px;
}

/* OFFER SECTION */

#offer-section {
    margin-top: 20px;
}

.offer-box {
    width: 33%;
    flex-direction: column;
    background-color: #f3f3f3;
    text-align: center;
    color: #333;
}

.offer-box p {
    line-height: 1.4rem;
    font-size: 0.9rem;
    width: 80%;
    margin: 5px auto 50px;
    color: #555;
}

.offer-box img {
    width: 125px;
    height: auto;
    margin: 50px auto 0;
}

/* PORTFOLIO SECTION */

#portfolio-section {
   width: 100%;
}

#portfolio-header-container {
    flex-direction: column;
    margin: 140px 0;
    text-align: center;
}

#portfolio-header {
    margin-bottom: 70px;
}

#portfolio-header h2 {
    line-height: 2.4rem;
    color: #333;
}

#portfolio-header p {
    font-style: italic;
    line-height: 2rem;
    color: #222;
}

#portfolio-quote {
    font-style: italic;
    margin-bottom: 10px;
}

#portfolio-quote-container h6 {
    font-weight: lighter;
    color: #222;
}

#portfolios-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-box,
.portfolio-box-info {
    width: 24%;
    height: 300px;
    margin-bottom: 1.4%;
}

#portfolio-box-header {
    color: #222;
}

#portfolio-box-header h3 {
    line-height: 2rem;
}

#portfolio-box-header p {
    font-style: italic;
    margin-top: 8px;
}

#portfolio-box-description {
    margin-top: 35px;
    width: 95%;
    line-height: 1.3rem;
    color: #333;
}

.portfolio-box {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p-box-1 {
    background-image: url('img/img1.jpeg');
    background-position: left;
}

#p-box-2 {
    background-image: url('img/img2.jpeg');
    background-position: left;
}

#p-box-3 {
    background-image: url('img/img3.jpeg');
}

#p-box-4 {
    background-image: url('img/img4.jpg');
}

#p-box-5 {
    background-image: url('img/img5.jpg');
}

#p-box-6 {
    background-image: url('img/img6.jpg');
}

#p-box-7 {
    background-image: url('img/img7.jpg');
}

.portfolio-box:hover {
    cursor: pointer;
}

/* CONTACT SECTION */

#contact-section {
    flex-direction: column;
    margin: 55px 0 110px;
}

#contact-header {
    text-align: center;
    margin-bottom: 110px;
}

#contact-header p {
    font-style: italic;
    margin-top: 7px;
}

#contact-form h6 {
    font-size: 0.9rem;
    text-align: center;
}

.contact-box-container {
    margin: 10px 0;
}

#contact-form {
    margin-left: 40px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 610px;
    padding: 10px 10px;
    border: 1px solid #bbb;
    font-size: 0.8rem;
    margin: 7px 0;
    outline: none;
}

#contact-form textarea {
    padding-top: 8px;
    padding-bottom: 8px;
    height: 35px;
}

#contact-form input[type="text"]::placeholder,
#contact-form input[type="email"]::placeholder,
#contact-form textarea::placeholder {
    color: #999;
}

#contact-submit-btn {
    margin-top: 25px;
    padding: 17px 35px;
    border: 2px solid #333;
    background-color: rgb(252, 252, 252);
    color: #444;
}

#contact-submit-btn:hover {
    cursor: pointer;
}

/* FOOTER */

#footer {
    background-color: #222;
    padding: 50px 0 70px;
    margin-bottom: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

#footer h6 {
    margin-bottom: 40px;
    color: #888;
    font-size: 0.9rem;
}

#footer ul li {
    margin-bottom: 15px;
}

#footer ul li a {
    color: #eee;
    font-size: 0.9rem;
    text-decoration: none;
}

#footer-logo {
    margin-left: 60px;
}

#footer-logo img {
    width: 80px;
}

#footer-menu {
    margin-left: 20px;
}

#footer-menu ul li a {
    font-size: 0.8rem;
}

#footer-contact {
    margin-right: 250px;
}